* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1b1b1b;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: black;
  color: white;
}

nav div {
  display: flex;
  padding-right: 20px;
}

.navlink {
  padding: 0px 10px;
  cursor: pointer;
  font-size: 18px;
}

.maincontent {
  display: flex;
  padding: 30px;
}

.myimage {
  width: 280px;
  background-color: #3b3c36;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
}
.myimage img {
  width: 220px;
}

/* right pane info styling */
.myinfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myinfo h2 {
  color: #ffb500;
  font-size: 50px;
  text-transform: uppercase;
  word-spacing: 10px;
  margin-bottom: 8;
}
.myinfo h4 {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  word-spacing: 10px;
  margin-bottom: 10px;
}
.myinfo p {
  width: 70%;
  font-size: 18px;
}
.myinfo div {
  width: 70%;
  display: inline;
  margin-top: 50px;
}
.morebutton {
  border: 2px solid #ffb500;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}
.morebutton:hover {
  background-color: #ffb500;
}
