* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: darkslateblue;
}

nav div {
  display: flex;
  padding-right: 20px;
}

.navlink {
  padding: 0px 10px;
}
